# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Django stuff:
*.log
*.pot
*.pyc
*.pyo
*.pyd
db.sqlite3
media/
staticfiles/
local_settings.py
.env
.env.*

# Virtual environments
venv/
ENV/
env/
.venv/

# VS Code
.vscode/
.dat